<div>
  Want to attend? 
  <% if current_user %>
    <% #if Attendance.where(attendee: current_user, attended_event: @event).exists? %>
    <% # if current_user.attendances.where(attended_event: @event).exists? %>
    <% if (attendance = @event.attendances.find_by(attendee: current_user)) %> <!-- (one = because special case. attendance was not defined ) -->
      Thank you for joining!
      Don't want to attend anymore? 
      <%= button_to "Remove attendance", event_attendance_path(@event, attendance), method: :delete, class: "btn btn-danger", form_class: "d-inline" %>
    <% else %>
      <%= button_to "Click here!", event_attendances_path(@event), class: "btn btn-primary", form_class: "d-inline" %>        
    <% end %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
