<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.event_date%> </p> 
    <p class="card-text"><%= @event.location%> </p>
    <p class="card-text"><%= @event.description%> </p>
  </div>
</div>

